*{
font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
  background: #5cdb95;
}

#head {
  text-align: center;
  color: #edf5e1;
}

#body {
  text-align: center;
}

.center {
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  background-color: #8ee4af;
  box-shadow: 2px 2px 12px rgba(0,0,0,0.05);
  border: 1px solid #05386b;
  border-radius: 10px;
  color: #05386b;
}

.CourseCard {
  padding: 25px;
  margin-left: 38%;
  margin-right: 38%;
  margin-bottom: 50px;
  background-color: #8ee4af;
  color: #18806b;
  box-shadow: 2px 2px 12px rgba(0,0,0,0.05);
  border: 1px solid #05386b;
  text-align: left;
  border-radius: 30px;
}

#sub_btn {  
  background-color: #edf5e1; /* Green */
  border: none;
  color: #05386b;
  padding-inline-start: 8px;
  padding-inline-end: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#del_btn {  
  background-color: #f83c3c; /* red */
  left: 59%;
  position :absolute;
  border: none;
  color: white;
  padding-inline-start: 9px;
  padding-inline-end: 9px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#GPA {
  font-size: 40px;
  color :#05386b;
}

#para {
  font-weight: 800;
  font-size: 25px;
  color: #05386b;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
